---
/**
 * 博客文章布局
 */
import { render, type CollectionEntry } from 'astro:content';
import { Icon } from 'astro-icon/components';
import BaseLayout from '~/layouts/Base.astro';
import FormattedDate from '~/components/FormattedDate.astro';
import TOC from '~/components/TableOfContents.astro';
import BackToTopBtn from '~/components/BackToTopBtn.astro';
import Giscus from '~/components/Giscus.astro';

interface Props {
    post: CollectionEntry<'blog'>;
}

const { post } = Astro.props;

const {
    data: {
        title,
        description,
        date_created,
        date_updated,
        katex,
        draft,
        tags,
    },
} = post;

const { headings, remarkPluginFrontmatter } = await render(post);
const { minutesRead } = remarkPluginFrontmatter;
const articleDate = date_updated?.toISOString() ?? date_created.toISOString();
const articleLink = Astro.url.toString();
---

<BaseLayout
    title={title}
    description={description}
    articleDate={articleDate}
    katex={katex}
>
    <div
        class="lg:grid lg:grid-cols-[auto_minmax(0,_1fr)_auto] lg:gap-2 px-2 md:px-0"
    >
        {/* Left Sidebar (Meta Info) */}
        <aside class="hidden lg:block order-1">
            <div
                class="sticky top-20 border border-textColor p-2 flex flex-col text-xs"
            >
                <div>
                    <div
                        class="font-semibold uppercase tracking-wider text-textColor mb-1 text-lg"
                    >
                        发布时间
                    </div>
                    <FormattedDate
                        date={date_created}
                        formatStr="yyyy-MM-dd"
                        class="text-textColor text-sm"
                    />
                    <span class="text-textColor text-sm"> / {minutesRead}</span>
                </div>
                {
                    date_updated && (
                        <>
                            <hr class="border-t border-textColor my-2" />
                            <div>
                                <div class="font-semibold uppercase tracking-wider text-textColor mb-1 text-lg">
                                    上次更新时间
                                </div>
                                <FormattedDate
                                    date={date_updated}
                                    formatStr="yyyy-MM-dd"
                                    class="text-textColor text-base"
                                />
                            </div>
                        </>
                    )
                }
                {
                    tags && tags.length > 0 && (
                        <>
                            <hr class="border-t border-textColor my-2" />
                            <div>
                                <div class="font-semibold uppercase tracking-wider text-textColor mb-2 text-lg">
                                    标签
                                </div>
                                <ul class="flex flex-wrap gap-1.5">
                                    {tags.map((tag: string) => (
                                        <li class="tag text-sm">
                                            <a href={`/tags/${tag}`}>{tag}</a>
                                        </li>
                                    ))}
                                </ul>
                            </div>
                        </>
                    )
                }
                <hr class="border-t border-textColor my-4" />
                <div class="mb-2">
                    <a
                        href="/blog"
                        class="font-semibold uppercase tracking-wider text-textColor text-sm"
                    >
                        &larr; 返回博客列表
                    </a>
                </div>
            </div>
        </aside>

        {/* Main content area (Center column on large screens) */}
        <div class="border border-textColor p-6 md:p-8 order-2">
            <article class="text-textColor">
                <header class="mb-8">
                    <h1 class="title font-bold text-textColor mb-6">{title}</h1>
                    {
                        draft && (
                            <div class="mb-4">
                                <span class="px-2 py-1 bg-red-100 text-red-700 text-xs font-semibold uppercase tracking-wider">
                                    草稿
                                </span>
                            </div>
                        )
                    }
                    <div class="mb-6 lg:hidden">
                        <div
                            class="flex items-center flex-col justify-normal sm:flex-row sm:justify-between px-4 pb-4 border-b border-textColor"
                        >
                            <div class="flex items-center gap-2">
                                <div
                                    class="font-semibold uppercase tracking-wider text-textColor mb-1 text-base"
                                >
                                    {'发布时间: '}
                                </div>
                                <FormattedDate
                                    date={date_created}
                                    formatStr="yyyy-MM-dd"
                                    class="text-textColor text-sm"
                                />
                            </div>
                            <div class="flex items-center gap-1">
                                <span
                                    class="text-textColor text-base uppercase font-semibold tracking-wider"
                                    >{'阅读时间：'}</span
                                >
                                <span class="text-textColor text-sm"
                                    >{minutesRead}</span
                                >
                            </div>
                            {
                                date_updated && (
                                    <div class="flex items-center gap-2">
                                        <div class="font-semibold uppercase tracking-wider text-textColor mb-1 text-base">
                                            {'上次更新时间：'}
                                        </div>
                                        <FormattedDate
                                            date={date_updated}
                                            formatStr="yyyy-MM-dd"
                                            class="text-textColor text-sm"
                                        />
                                    </div>
                                )
                            }
                        </div>
                    </div>
                </header>

                <div
                    class="prose dark:prose-invert lg:prose-lg max-w-none text-textColor bg-bgColor prose-box"
                >
                    <slot />
                </div>

                <div
                    class="mt-12 border border-textColor p-4 flex flex-col text-sm"
                >
                    <span class="flex items-center">
                        <Icon
                            class="w-5 h-5 mr-2 shrink-0"
                            focusable="false"
                            name="carbon:link"
                        />
                        <span class="mr-1">本文链接：</span>
                        <span
                            id="post-share-link"
                            class="break-all cursor-pointer hover:underline"
                            >{articleLink}</span
                        >
                    </span>
                    <hr class="border-t border-textColor" />
                    <span class="flex items-center">
                        <Icon
                            class="w-5 h-5 mr-2 shrink-0"
                            focusable="false"
                            name="carbon:share"
                        />
                        <span class="mr-1">转载声明：</span>
                        <span>转载请保留本文地址，著作权归作者所有。</span>
                    </span>
                </div>
                <Giscus theme="auto" lang="zh-CN" />
                <BackToTopBtn />
            </article>
        </div>

        {/* Right Sidebar (TOC) */}
        {
            !!headings.length &&
                headings.filter((h) => h.depth > 1).length > 0 && (
                    <aside class="hidden lg:block order-3">
                        <div class="sticky top-20">
                            <TOC headings={headings} />
                        </div>
                    </aside>
                )
        }
    </div>
</BaseLayout>

<script>
    const postLinkBtn = document.getElementById('post-share-link');
    const postShareLink =
        postLinkBtn?.innerText ?? window.location.href.toString();
    let isCopying = false;

    async function copyLink() {
        if (!postLinkBtn || isCopying) {
            return;
        }
        isCopying = true;
        const text = postLinkBtn.innerText ?? window.location.href;

        await navigator.clipboard.writeText(text);
        postLinkBtn.innerText = 'Link Copied';

        setTimeout(() => {
            postLinkBtn.innerHTML = postShareLink;
            isCopying = false;
        }, 1000);
    }
    postLinkBtn?.addEventListener('click', copyLink);
</script>
